.form-li-suggestion {
    display: flex;
    justify-content: flex-start;
    background-color: #464444;
    cursor: pointer;
    margin: 0.5px;
    padding: 0px 5px 0px 5px;
    list-style-type: none;

}



.form-li-suggestion:hover {
    background-color: #a0a4a4;
}